@font-face {
    font-family: 'finger';
    src: url(https://fonts.googleapis.com/css2?family=Jersey+10&display=swap);
}

body{
    background-color: black;
}
.image{
    display: block;
    margin-bottom: 0px;
}
.top{
    margin: 20px ;
    display: block;
    text-align: center;
}
.texttop{
    font-family: 'Jersey 10'; 
    color: white;
    letter-spacing: 2px;
    margin-top: 1px;
    margin-bottom: 2px;
    font-size: 60px;
    
}
.displaybuttons{
    display: block;
    padding-top: 5px;
    width: 950px;
    height: 40px;
    background-color: #181818;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-radius: 20px;
    cursor: pointer;
}
.textobutton{
    background-color: transparent;
    font-family: 'Jersey 10'; 
    color: white;   
    font-size: 22px;
    cursor: pointer;
}
.topics{
    display: block;
    width: 1100px;

    background-color: #181818;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.innertopic{
    
    display: flex;
    align-items: flex-start;
    font-family: 'Jersey 10'; 
    font-size: 20px;
    border-radius: 20px;
    background-color: #1d1d1d;
    margin: 10px;
    gap: 10px;
    color: whitesmoke;
    padding-bottom: 5px;
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.3);
}
.texttopic{
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}
.texttopic h1, p {
    display: flex;
    flex-direction: column;
    margin: 0;
    letter-spacing: 2px;
}

.angelosonline{
    display: block;
    text-align: center;
    margin: 10px;
    max-width: 150px;
}
